body{
    background-color: rgb(132, 207, 247);
.cursor{
    /* cursor: src="CSS\pomba"; */
    width: 30px;
    height: 30px;
    display: block;
    position:absolute;
    background: aquamarine;
    border-radius: 50%;
}
}

h1{
    color: whitesmoke;


} 

